<html>
    <head>
        <title>Django Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Blog</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a><h2>
            <p>Donec semper urna a lacus ultricies mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc molestie, turpis in facilisis volutpat, ligula tortor pretium purus, eu condimentum mauris diam quis odio. Etiam convallis blandit purus at porttitor. Donec a varius arcu.</p>
        </div>
        
        <div>
            <h1><p>Hello world!</p></h1>
            <h3><p> It works!</p></h3>
        
    </body>
</html>